.wrapper {
  width: 1200px;
}

.container {
  columns: 4;
  column-gap: 20px;
  width: 100%;
}

.box {
  max-width: 100%;
  break-inside: avoid;
  display: block;
}

.box img {
  max-width: 100%;
  border-radius: 7px;
  margin: 7px;
}
